body {
    background-color: hsl(0, 0%, 10%);
}

.to-do-list {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
    color: white;
}

button {
    font-weight: bold;
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button {
    background-color: hsl(125, 47%, 54%);
    padding: 10px;
    border: 1px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
}

.add-button:hover {
    background-color: hsl(125, 47%, 34%);
}

.delete-button {
    background-color: hsl(10, 90%, 50%);
}

.delete-button:hover {
    background-color: hsl(10, 90%, 30%);
}

.move-button {
    background-color: hsl(207, 90%, 64%);
}

.move-button:hover {
    background-color: hsl(207, 90%, 44%);
}

.ul-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 5px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    width: 75%;
    text-align: start;
}

.text {
    flex: 1;
}

.delete-button,
.move-button {
    font-size: 1.4rem;
    margin-left: 7px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.input-and-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 50px;
}

.input-task-box {
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    margin-right: 1px;
    font-size: 1.6rem;
    color: hsla(0, 0%, 0%, 0.75);
    width: 30%;
}

.add-button {
    font-size: 1.7rem;
}

.highlighted {
    background-color: hsl(0, 0%, 60%);
    transition: background-color 0.5s ease;
}
